html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(0, 0, 0);
}
.container {
  min-height: 10rem;
  max-width: 70rem;
  margin: auto;
  background-color: #fff;
  padding: 1rem;
}
#pageheader {
  background-color: rgb(74, 73, 73);
  min-height: auto;
  padding: 1rem;
}
#logo {
  width: 6.25rem;
  height: 6.25rem;
  background-color: rgb(186, 186, 186);
  background-image: url(Images/logosmall.png);
}
#pageheader .container {
  background-color: none;
  min-height: auto;
  text-align: center;
}
#media {
  background-color: rgb(140, 142, 140);
  min-height: 10rem;
  padding: 1rem;
  background-image: url(Images/hero.png);
  background: cover;
  aspect-ratio: 16/9;
}
#career {
  background-color: rgb(46, 46, 46);
  min-height: 10rem;
  padding: 1rem;
}
#pagecontent {
  background-color: rgb(102, 104, 104);
  min-height: 10rem;
  padding: 1rem;
}
#semester1 {
  background-color: rgb(65, 65, 65);
  min-height: 10rem;
  padding: 1rem;
}
#semester2 {
  background-color: teal;
  min-height: 10rem;
  padding: 1rem;
}
#pagefooter {
  background-color: dimgrey;
  min-height: auto;
  padding: 1rem;
}
#pagefooter .container {
  background-color: none;
  text-align: center;
  min-height: auto;
}
#subfooter {
  background-color: rgb(131, 131, 131);
  min-height: 10rem;
  padding: 1rem;
  text-align: center;
}
audio {
  display: block;
  margin: auto;
  background-color: rgb(3, 105, 3);
  border: 5px solid rgb(3, 105, 3);
}
