/* Mobile View - Default */
:root {
  --primary-color: red;
  --secondary-color: lime;
  --tertiary-color: blue;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(0, 0, 0);
}
.container {
  min-height: 10rem;
  max-width: 70rem;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.159);
  padding: 1rem;
}
#pageheader {
  background-color: rgb(74, 73, 73);
  min-height: auto;
  padding: 1rem;
}
#logo {
  width: 6.25rem;
  height: 6.25rem;
  background-color: rgb(186, 186, 186);
  background-image: url(Images/Firefly-1.png);
  background-position: center;
  background-size: cover;
  margin: auto;
}
#pageheader .container {
  background-color: none;
  min-height: auto;
  text-align: center;
}
#pageheader nav {
  text-align: center;
}
#pageheader a {
  color: rgb(77, 77, 77);
}

#pageheader nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#pageheader nav ul li {
  border: 2px solid black;
  padding: 1rem;
  background-color: #999999;
  margin: 2px;
}
#pageheader nav ul li:hover {
  background-color: #d3d3d3;
}
#media {
  background-color: rgb(140, 142, 140);
  min-height: 10rem;
  padding: 1rem;
  background-image: url(Images/hero-2.jpg);
  background: cover;
  aspect-ratio: 16/9;
}
#career {
  background-color: rgb(226, 8, 8);
  min-height: 10rem;
  padding: 1rem;
}
#career a {
  color: rgb(222, 222, 222);
}
#pagecontent {
  background-color: rgb(9, 213, 213);
  min-height: 10rem;
  padding: 1rem;
}
blockquote {
  background-color: none;
  padding: 1rem;
  width: 38%;
  margin: 0;
  font-weight: bold;
  color: rgb(222, 222, 222);
}
blockquote + span {
  background-color: none;
  padding: 1rem;
  display: block;
  width: 12%;
  margin: 0 auto;
  text-align: right;
  font-weight: bold;
}
#semester1 {
  background-color: rgb(65, 65, 65);
  min-height: 10rem;
  padding: 1rem;
}
#semester1 a {
  color: rgb(222, 222, 222);
}
#semester2 {
  background-color: rgb(49, 49, 49);
  min-height: 10rem;
  padding: 1rem;
}
#semester2 a {
  color: rgb(222, 222, 222);
}
#pagefooter {
  background-color: dimgrey;
  min-height: auto;
  padding: 1rem;
}
#pagefooter a {
  color: rgb(222, 222, 222);
}

#pagefooter .container {
  background-color: none;
  text-align: center;
  min-height: auto;
}
#aifooter {
  background-color: #4c4a4a;
  padding: 1rem;
  min-height: auto;
}
#aifooter .container {
  text-align: center;
  min-height: auto;
  color: rgb(222, 222, 222);
}
#aifooter a {
  color: rgb(222, 222, 222);
}
#subfooter {
  background-color: rgb(131, 131, 131);
  min-height: 10rem;
  padding: 1rem;
  text-align: center;
}
#subfooter a {
  color: rgb(222, 222, 222);
}

audio {
  display: block;
  margin: auto;
  background-color: rgb(72, 72, 72);
  border: 5px solid rgba(54, 54, 54, 0.734);
}
/* Tablet View */
@media screen and (min-width: 600px) {
  #pageheader nav ul {
    background-color: none;
    margin-top: 2rem;
  }

  #pageheader nav ul li {
    display: inline-block;
  }

  #pagecontent {
    background-color: red;
  }

  #career {
    background-color: blue;
  }
  #logo {
    margin: 0;
  }
}
/* Desktop View */
@media screen and (min-width: 1000px) {
  #pagecontent {
    background-color: rgb(102, 104, 104);
  }
  #career {
    background-color: rgb(46, 46, 46);
  }
}
